.problem-lists-bar {
    width: 100%;
    height: auto;
}

.pro-list-hading {
    width: 100%;
    height: 150px;
    flex-direction: column;
}

.problem-control-head {
    width: 100%;
    height: 50%;
}

.pro-control-button {
    margin: 0 20px;
    background-color: rgba(18, 203, 154, 0.58);
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.17) 0 -23px 25px 0 inset, rgba(0, 0, 0, 0.15) 0 -36px 30px 0 inset, rgba(0, 0, 0, 0.1) 0 -79px 40px 0 inset, rgba(0, 0, 0, 0.06) 0 2px 1px, rgba(0, 0, 0, 0.09) 0 4px 2px, rgba(0, 0, 0, 0.09) 0 8px 4px, rgba(0, 0, 0, 0.09) 0 16px 8px, rgba(0, 0, 0, 0.09) 0 32px 16px;
    transition: background-color.2s linear;

    & p {
        color: #fff;
        margin-left: 10px;
    }

    &:hover {
        background-color: rgba(8, 180, 135, 0.99);
    }
}

.problem-control {
    width: 100%;
    height: 50%;
}

.pro-con-button {
    background-color: #509AFF;
    padding: 8px 10px;
    border-radius: 8px;
    transition: background-color .2s linear;
    letter-spacing: 0.5px;
    cursor: pointer;
    margin: 0 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 19px 38px, rgba(0, 0, 0, 0.22) 0 15px 12px;
    position: relative;

    & p {
        font-family: 'Roboto', sans-serif;
        margin-right: 25px;
    }

    & i {
        transition: all 0.3s linear;
    }

    &:hover {
        background-color: rgba(80, 154, 255, 0.84);
    }
}

.pro-con-box {
    position: absolute;
    height: auto;
    background-color: #424156;
    top: 110%;
    border-radius: 10px;
    z-index: 100;
    display: none;
    left: 0;
    padding: 10px 10px;

    & li {
        padding: 8px 5px;
        color: rgba(255, 255, 255, 0.58);
        border-radius: 4px;
        transition: all .2s linear;
        letter-spacing: 0.5px;
        position: relative;

        &:hover {
            color: #fff;
            background-color: #595966;
        }
    }
}

.pin-list-box {
    width: calc(100% - 400px);
    height: auto;
    justify-content: start;
    flex-wrap: wrap;
    row-gap: 8px;
    margin-top: 5px;
}

.pin-list-item {
    padding: 8px 13px;
    margin-right: 10px;
    background-color: #0B2447;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.7);
    font-family: "Roboto Light", sans-serif;
    letter-spacing: .5px;
    transition: all .2s linear;
    font-size: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0 54px 55px, rgba(0, 0, 0, 0.12) 0 -12px 30px, rgba(0, 0, 0, 0.12) 0 4px 6px, rgba(0, 0, 0, 0.17) 0 12px 13px, rgba(0, 0, 0, 0.09) 0 -3px 5px;

    & i {
        margin-left: 5px;
    }

    &:hover {
        background-color: rgba(11, 36, 71, 0.94);
        color: #fff;
        box-shadow: rgba(0, 0, 0, 0.17) 0 -23px 25px 0 inset, rgba(0, 0, 0, 0.15) 0 -36px 30px 0 inset, rgba(0, 0, 0, 0.1) 0 -79px 40px 0 inset, rgba(0, 0, 0, 0.06) 0 2px 1px, rgba(0, 0, 0, 0.09) 0 4px 2px, rgba(0, 0, 0, 0.09) 0 8px 4px, rgba(0, 0, 0, 0.09) 0 16px 8px, rgba(0, 0, 0, 0.09) 0 32px 16px;
    }
}

.control-search-box {
    position: relative;
    background-color: #509AFF;
    width: auto;
    height: auto;
    border-radius: 8px;
    transition: background-color .2s linear;
    box-shadow: rgba(0, 0, 0, 0.3) 0 19px 38px, rgba(0, 0, 0, 0.22) 0 15px 12px;

    &:hover {
        background-color: rgba(80, 154, 255, 0.84);
    }
}

.csb-icon {
    padding: 8px 2px 8px 14px;
    cursor: text;
}

.problemSearch {
    outline: none;
    border: none;
    width: 280px;
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .5px;
    font-size: 14px;
    padding: 0 5px;
}

.one-pick {
    margin-left: 20px;
    padding: 8px 14px;
    background-color: #0cefa4;
    border-radius: 15px;
    transition: all .2s linear;
    box-shadow: rgba(0, 0, 0, 0.25) 0 54px 55px, rgba(0, 0, 0, 0.12) 0 -12px 30px, rgba(0, 0, 0, 0.12) 0 4px 6px, rgba(0, 0, 0, 0.17) 0 12px 13px, rgba(0, 0, 0, 0.09) 0 -3px 5px;

    & span {
        margin-left: 10px;
    }

    &:hover {
        color: #fff;
        box-shadow: rgba(0, 0, 0, 0.17) 0 -23px 25px 0 inset, rgba(0, 0, 0, 0.15) 0 -36px 30px 0 inset, rgba(0, 0, 0, 0.1) 0 -79px 40px 0 inset, rgba(0, 0, 0, 0.06) 0 2px 1px, rgba(0, 0, 0, 0.09) 0 4px 2px, rgba(0, 0, 0, 0.09) 0 8px 4px, rgba(0, 0, 0, 0.09) 0 16px 8px, rgba(0, 0, 0, 0.09) 0 32px 16px;
    }
}
