.problem-page {
    width: 100vw;
    height: auto;
    margin-top: 60px;
    background: #ffffff;
}

.problem-page-hero-bar {
    width: 100%;
    height: 240px;
}

.problem-page-sub-title-bar {
    width: 100vw;
    height: 335px;
}

.problem-lists {
    width: 100vw;
    height: auto;
}