.problem-page-sub-title-box {
    width: 100%;
    height: 100%;
    position: relative;
}

.problem-span {
    position: absolute;
    cursor: pointer;
    color: #000;
    font-weight: 600;
    font-family: 'Roboto Mono', monospace;
    transition: color .2s linear;
}

.problem-span::before {
    position: absolute;
    content: '';
    left: 0;
    bottom: -3px;
    width: 0;
    height: 3px;
    background-color: #270082;
    border-radius: 20px;
    transition: all .4s ease;
}

.problem-span:hover::before {
    width: 100%;
}

.sub-title-box-container {
    width: 100%;
    height: calc(100% - 70px);
}

.p-sub-container-top {
    width: 100%;
    height: 50%;
}

.p-sub-container-bottom {
    width: 100%;
    height: 50%;
}

.p-sub-card {
    width: 250px;
    height: 90px;
    background-color: #40A2D8;
    border-radius: 10px;
    margin: 0 20px;
    overflow: hidden;
    transition: all .3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.25) 0 54px 55px, rgba(0, 0, 0, 0.12) 0 -12px 30px, rgba(0, 0, 0, 0.12) 0 4px 6px, rgba(0, 0, 0, 0.17) 0 12px 13px, rgba(0, 0, 0, 0.09) 0 -3px 5px;

    & i {
        transition: all .3s ease-in-out;
    }
}

.p-sub-card:hover {
    background-color: #0B60B0;
    box-shadow: rgba(0, 0, 0, 0.17) 0 -23px 25px 0 inset, rgba(0, 0, 0, 0.15) 0 -36px 30px 0 inset, rgba(0, 0, 0, 0.1) 0 -79px 40px 0 inset, rgba(0, 0, 0, 0.06) 0 2px 1px, rgba(0, 0, 0, 0.09) 0 4px 2px, rgba(0, 0, 0, 0.09) 0 8px 4px, rgba(0, 0, 0, 0.09) 0 16px 8px, rgba(0, 0, 0, 0.09) 0 32px 16px;
}

.p-sub-card-icon {
    width: 90px;
    height: 100%;
}

.p-sub-card-name {
    width: calc(100% - 90px);
    height: 100%;
    flex-direction: column;
    align-items: start;

    & h3 {
        color: #000;
        padding: 2px 5px;
        font-size: 16px;
    }

    & p {
        color: rgba(255, 255, 255, 0.73);
        font-size: 12px;
        font-weight: 600;
        padding: 3px 5px;
        font-family: 'Roboto Mono', monospace;
    }
}

.pro-list-body {
    width: 100%;
    height: 1000px;
    align-items: start;
}

.problem-list-box {
    width: calc(100% - 400px);
    height: auto;
    margin-top: 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0 54px 55px, rgba(0, 0, 0, 0.12) 0 -12px 30px, rgba(0, 0, 0, 0.12) 0 4px 6px, rgba(0, 0, 0, 0.17) 0 12px 13px, rgba(0, 0, 0, 0.09) 0 -3px 5px;
}

.problem-list-header {
    width: 100%;
    height: 50px;
    /*background-color: #1f84cc;*/
    position: relative;
    display: flex;
    align-items: center;

    & p {
        position: absolute;
    }

    & p:nth-child(1){
        left: 3%;
        transform: translateX(-3%);
    }

    & p:nth-child(2){
        left: 30%;
        transform: translateX(-30%);
    }

    & p:nth-child(3){
        left: 60%;
        transform: translateX(-60%);
    }

    & p:nth-child(4){
        left: 90%;
        transform: translateX(-90%);
    }
}