.description-card {
    width: 100%;
    height: auto;
    background-color: #415672;
    padding: 10px;

    & span {
        color: #e7ebf2;
        font-family: 'Noto Sans', sans-serif;
    }
    & p {
        color: #e7ebf2;
        font-family: 'Noto Sans', sans-serif;
    }
}

.dp-hading {
    width: 100%;
    height: 50px;
    justify-content: normal;

    span {
        font-size: 20px;
        font-weight: 700;
    }
}

.dp-tags {
    width: 100%;
    height: 50px;
    justify-content: normal;

    & li {
        margin-right: 10px ;
    }
}

.topic-tag {
    background-color: #8bc4e8;
    padding: 7px 20px;
    border-radius: 20px;
    color: #030ffd !important;
    transition: all 250ms;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    cursor: pointer;
    box-shadow: rgba(3, 15, 253, .2) 0 -25px 18px -14px inset,rgba(3, 15, 253, .15) 0 1px 2px,rgba(3, 15, 253, .15) 0 2px 4px,rgba(3, 15, 253, .15) 0 4px 8px,rgba(3, 15, 253, .15) 0 8px 16px,rgba(3, 15, 253, .15) 0 16px 32px;

    & i {
        margin-right: 6px;
    }

    &:hover {
        box-shadow: rgba(3, 15, 253, .35) 0 -25px 18px -14px inset,rgba(3, 15, 253, .25) 0 1px 2px,rgba(3, 15, 253, .25) 0 2px 4px,rgba(3, 15, 253, .25) 0 4px 8px,rgba(3, 15, 253, .25) 0 8px 16px,rgba(3, 15, 253, .25) 0 16px 32px;

        transform: scale(1.05) rotate(-1deg);
    }
}

.dp-body {
    width: 100%;
    height: auto;
    margin-top: 15px;
    /*background-color: #103067;*/
}