.submissions-main {
    width: calc(100% - 20px);
    height: calc(100% - 80px);
    border-radius: 10px;
    overflow-y: scroll;
    background-color: #415672;
}

.submissions-main::-webkit-scrollbar {
    width: 10px;
}

.submissions-main::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #e7e7e7;
    border: 1px solid #cacaca;
}

.submissions-main::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: rgba(100, 244, 88, 0.66);
}