* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  color: rgba(0, 0, 0, 0.37);
}

.isWrong {
  border: 2px solid red !important;
}

.isWrite {
  border: 2px solid rgba(7, 192, 50, 0.77) !important;
}

.isP-Wrong {
  color: red;
}
.isP-Write {
  color: rgba(7, 192, 50, 0.77);
}