@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anta&family=Kode+Mono&family=Lora&family=Poppins&family=Roboto+Slab:wght@500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --box-shadow: rgba(0, 0, 0, 0.16) 0 10px 36px 0, rgba(0, 0, 0, 0.06) 0 0 0 1px;
  --subchild-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

html, body {
  overflow-x: hidden;
  cursor: none!important;
}

.cursor-dot {
  width: 5px;
  height: 5px;
  background-color: black;
}

.cursor-outline {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 2px solid #000000B2;
  transition: all .4s ease-out;
}

.cursor-dot,
.cursor-outline {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 9000000;
  pointer-events: none;

}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.37);
  cursor: none;
}

li {
  list-style: none;
}

.isWrong {
  border: 2px solid red !important;
}

.isWrite {
  border: 2px solid rgba(7, 192, 50, 0.77) !important;
}

.isP-Wrong {
  color: red;
}
.isP-Write {
  color: rgba(7, 192, 50, 0.77);
}

.link {
  text-decoration: none;
}

.is-current {
  box-shadow: rgba(0, 0, 0, 0.17) 0 -23px 25px 0 inset, rgba(0, 0, 0, 0.15) 0 -36px 30px 0 inset, rgba(0, 0, 0, 0.1) 0 -79px 40px 0 inset, rgba(0, 0, 0, 0.06) 0 2px 1px, rgba(0, 0, 0, 0.09) 0 4px 2px, rgba(0, 0, 0, 0.09) 0 8px 4px, rgba(0, 0, 0, 0.09) 0 16px 8px, rgba(0, 0, 0, 0.09) 0 32px 16px;
}

code {
  font-size: 14px;
  line-height: 25px;
  padding: 0.125rem;
  white-space: pre-wrap;
  border-radius: 5px;
  border-width: 1px;
  font-family: 'Lora', serif;
  letter-spacing: 1px;
  background-color: #ffffff12;
  border-color: #f7faff1f;
  color: #eff1f6bf;
}